.dockimg{
  width: 100%;
  padding-bottom: 20px;
}

#gold {
  background-color: #D4AF3770;
  text-align: center;
}

#silver {
  background-color: silver;
  text-align: center;
}

#bronze {
  background-color: #cd7f3290;
  text-align: center;
}

body * {
  padding-bottom: 1%;
}

h1 {
  padding-bottom: 10%;
  text-align: center;
  color: darkgreen;
}
